nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    word-wrap: break-word
}

.color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 18px 35px;
}