nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

/* left right 0, upor niche 200 */
body {
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    word-wrap: break-word
}

.color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
    padding: 18px 35px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.banner-greeting {
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 500px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}